body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
  
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: justify;
}

.button-container {
  display: inline-block;
  align-items: center;
  width: 392px;
  background: #e3f4ff;
  padding: 4px;
  margin-top: 8px;
  text-align: center;
}

button {
  display: block;
  background: white;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: 1px solid #eee;
}